[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/mailhog/mailhog
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
