<VirtualHost *:80>
    DocumentRoot "/var/www/web"
    AccessFileName .htaccess.dev
    <Directory "/var/www/web">
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerName logs.project.local
    DocumentRoot "/opt/pimpmylog"
    AccessFileName .htaccess
    <Directory "/opt/pimpmylog">
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
